<a href="https://colab.research.google.com/github/fvndnv/ADABOOST-IMPLEMENTATION/blob/main/TFIDF%20MATCHER%20WITH%20NLP%20AND%20TEXT%20PREPROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [80]:
import pandas as pd
df1=pd.read_csv("/content/db1.csv")
df1

  First Name Last Name                          Address  ...      DOB   ID  State
0       Raaj     virma        A-Stryt Maayur vihar Deli  ...  1-12-12  100  Noyda
1    Maneesh      Dhul  B-15 noyda sector 11 pary chowk  ...  1-12-14  101    Rai
2      Raman      Vesh         B block jaipur sector 15  ...  2-34-45  102   Rome

[3 rows x 8 columns]

In [81]:
df2=pd.read_csv("/content/db2.csv")
df2

  Letter Name Sir Name  ...    State Unique ID
0         Raj    verma  ...   Delhi        200
1      Manish    Dhull  ...    Noida       201
2        raju    Samad  ...  Haryana       292
3        Rama    vaish  ...  Sonipat       203
4      Akshay  Rohilla  ...     Rome       114
5      Mahesh    Kumar  ...    Italy       600
6     Maneesh     Dhul  ...      Rai       344
7       Raman     Vesh  ...     Rome       123

[8 rows x 8 columns]

In [82]:
df1['Combined_dataset1']=df1['First Name'] + " " + df1['Last Name'] + " " + df1['Address']

In [83]:
!pip3 install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)

In [86]:
import nltk 
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [87]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
df1['Combined_dataset1'] = df1['Combined_dataset1'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df1['Combined_dataset1'].head()

0            Raaj virma A-Stryt Maayur vihar Deli
1    Maneesh Dhul B-15 noyda sector 11 pary chowk
2             Raman Vesh B block jaipur sector 15
Name: Combined_dataset1, dtype: object

In [88]:
df1['Combined_dataset1'] = df1['Combined_dataset1'].str.replace('[^\w\s]','')
df1['Combined_dataset1'].head()

0            Raaj virma AStryt Maayur vihar Deli
1    Maneesh Dhul B15 noyda sector 11 pary chowk
2            Raman Vesh B block jaipur sector 15
Name: Combined_dataset1, dtype: object

In [91]:
df2['Combined_dataset2']=df2['Letter Name'] + " " + df2['Sir Name'] + " " + df2['Street Address']

In [92]:
df2['Combined_dataset2'] = df2['Combined_dataset2'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df2['Combined_dataset2'].head()

0            Raj verma A-Street Mayur Vihar Delhi
1    Manish Dhull B-15 Noida sector 12 pari chowk
2           raju Samad Street 12 dwarka sector 15
3    Rama vaish Gali 12 sector 14 khanpur lucknow
4       Akshay Rohilla B-12 noida sector 15 Delhi
Name: Combined_dataset2, dtype: object

In [93]:
df2['Combined_dataset2'] = df2['Combined_dataset2'].str.replace('[^\w\s]','')
df2['Combined_dataset2'].head()

0             Raj verma AStreet Mayur Vihar Delhi
1     Manish Dhull B15 Noida sector 12 pari chowk
2           raju Samad Street 12 dwarka sector 15
3    Rama vaish Gali 12 sector 14 khanpur lucknow
4        Akshay Rohilla B12 noida sector 15 Delhi
Name: Combined_dataset2, dtype: object

In [98]:
from textblob import TextBlob
from textblob import Word
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [99]:
df1['Combined_dataset1'] = df1['Combined_dataset1'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [100]:
df2['Combined_dataset2'] = df2['Combined_dataset2'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

In [101]:
pip install tfidf-matcher

Requirement already satisfied: tfidf-matcher in /usr/local/lib/python3.6/dist-packages (0.2.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from tfidf-matcher) (0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from tfidf-matcher) (1.1.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->tfidf-matcher) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->tfidf-matcher) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->tfidf-matcher) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas->tfidf-matcher) (1.18.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->tfidf-matcher) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->tfidf-matcher) (0.17.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->tfidf-matcher) (1.15.0)

In [102]:
import tfidf_matcher as tm

In [103]:
tm.matcher(df1['Combined_dataset1'],df2['Combined_dataset2'],k_matches=3,ngram_length=3)

   Match Confidence  ...                                       Lookup 3
0              0.82  ...  Mahesh Kumar A 501 kota rajasthan 113 b block
1              1.00  ...       Akshay Rohilla B12 noida sector 15 Delhi
2              1.00  ...   Rama vaish Gali 12 sector 14 khanpur lucknow

[3 rows x 5 columns]